In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

In [2]:
data=pd.read_csv('diet.csv')
data.head(5)

   age  sex    bmi  weight
0   18    1  53.13       4
1   22    1  52.58       4
2   23    1  50.38       4
3   58    1  49.06       4
4   46    0  48.07       4

In [3]:
data.isnull().sum()

age       0
sex       0
bmi       0
weight    0
dtype: int64

In [4]:
data.groupby('weight').mean()

              age       sex        bmi
weight
1       26.530709  0.493999  17.700287
2       26.947227  0.509499  20.588269
3       38.897172  0.485861  27.582365
4       40.343706  0.527581  35.266011

In [5]:
data['weight'].value_counts()

1    5666
2    5211
4     707
3     389
Name: weight, dtype: int64

In [6]:
X = data.drop(columns='weight', axis=1)
Y = data['weight']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.35, stratify=Y, random_state=3)

In [7]:
from sklearn.ensemble import RandomForestClassifier
RFClassifierModel = RandomForestClassifier(random_state=16)
RFClassifierModel.fit(X_train, Y_train)

RandomForestClassifier(random_state=16)

In [8]:
X_train_predict = RFClassifierModel.predict(X_train)
train_accuracy = accuracy_score(X_train_predict, Y_train)

X_test_predict = RFClassifierModel.predict(X_test)
test_accuracy = accuracy_score(X_test_predict, Y_test)

print('Training data Accuracy: ', train_accuracy*100 ,'%')
print('Test data Accuracy: ', test_accuracy*100 ,'%')

Training data Accuracy:  100.0 %
Test data Accuracy:  100.0 %

In [9]:
joblib.dump(RFClassifierModel,'RFClassifierDiet.pkl')

['RFClassifierDiet.pkl']

In [22]:
RFClassifierDiet=joblib.load('RFClassifierDiet.pkl')
input_data = (22,1,24)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)
# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

In [23]:
PredictModelRFC = RFClassifierDiet.predict(input_data_reshaped)


print(PredictModelRFC[0])

2